annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
fastapi==0.109.0
h11==0.16.0
httptools==0.7.1
idna==3.11
pydantic==2.5.3
pydantic-settings==2.1.0
pydantic_core==2.14.6
python-dotenv==1.2.1
python-multipart==0.0.6
PyYAML==6.0.3
starlette==0.35.1
typing_extensions==4.15.0
uvicorn==0.27.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==12.0
